//
// Calendário
// -----------------------------------


// Container
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


// Calendário
.calendar{
    width: 100%;
    max-width: 540px;
    padding: 30px;
    box-shadow: 0 15px 35px 0px rgba(0,0,0,.04);
    border-radius: 10px;
    transition: $transition-default;

    &.months-open{
        transform: scale(.8);
    }
}

.calendar-title{
    @extend %text-center;
    font-size: em(42px);
    margin-bottom: 20px;
}


// Mêses
.calendar-month__name{
    @extend %text-center;
    @extend .btn;
    @extend .btn__transparent;
    text-transform: capitalize;
    width: 100%;
    margin: em(5px) auto;
    font-size: em(26px);
}

.calendar-controls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-months;
    background: $primary-color;
    transition: $transition-default cubic-bezier(0.8, 0.93, 0.35, 0.99);

    .calendar-months__list{
        @extend %list-style-none;
        display: grid;
        height: 100%;

        @media(min-width: $breakpoint-min){
            grid-template-columns: repeat(4, calc(100%/4) );
            grid-template-rows: repeat(3, calc(100%/3) );
        }

        @media(max-width: $breakpoint-max){
            grid-template-columns: repeat(3, calc(100%/3) );
            grid-template-rows: repeat(4, calc(100%/4) );
        }
    }

    .month{
        @extend %text-center;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition-default;
        cursor: pointer;

        &:hover,
        &:focus{
            background-color: darken($primary-color, 10%);
        }
    }

    &:not(.open){
        transform: scale(1.5);
        opacity: 0;
        visibility: hidden;
    }
}


// Dias do mês
.month-days{
    @extend %list-style-none;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7) );
    grid-template-rows: repeat(6, calc(100%/6) );
}

.month-day{
    @extend %text-center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em .5em;

    &.out{
        color: rgba($text-color, .3);
    }
}

.month-day__name{
    display: none;
}


// Semana
.calendar-week{
    @extend %list-style-none;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7) );
    background: $body-background;
    box-shadow: 0 15px 35px -15px rgba(0,0,0,.1);
}

.week-day{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1.5em .5em;

    @media(max-width: $breakpoint-max){
        color: transparent;

        &:before{
            content: attr(data-letter);
            position: absolute;
            top: 50%;
            left: 50%;
            color: $text-color;
            transform: translate(-50%, -50%);
        }
    }
}
