//
// Calendário
// -----------------------------------


// Container
.calendar{
    margin: 3.5em auto 0;
    max-width: 540px;
    padding: 30px;
    box-shadow: 0 15px 35px 0px rgba(0,0,0,.04);
    border-radius: 10px;
}

.calendar-title{
    @extend %text-center;
    font-size: em(42px);
    margin-bottom: 20px;
}


// Mês
.calendar-month{
    @extend %text-center;
    text-transform: capitalize;
    font-size: em(32px);
    padding: 0 .5em;
}


// Dias do mês
.month-days{
    @extend %list-style-none;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7) );
    grid-template-rows: repeat(6, calc(100%/6) );
}

.month-day{
    @extend %text-center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em .5em;

    &.out{
        color: rgba($text-color, .3);
    }
}

.month-day__name{
    display: none;
}


// Semana
.calendar-week{
    @extend %list-style-none;
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7) );
    background: $body-background;
    box-shadow: 0 15px 35px -15px rgba(0,0,0,.1);
}

.week-day{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1.5em .5em;

    @media(max-width: $breakpoint-max){
        color: transparent;

        &:before{
            content: attr(data-letter);
            position: absolute;
            top: 50%;
            left: 50%;
            color: $text-color;
            transform: translate(-50%, -50%);
        }
    }
}
