//
// Base de estilos (resets)
// -----------------------------------

// Geral
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Body e HTML
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: $text-color;
}


