//
// Variáveis do projeto
// -----------------------------------


// Cores
$primary-color              : #006437;
$secondary-color            : #73956F;
$text-color                 : #454851;
$body-background            : $primary-color;


// Transições
$transition-default         : .2s;


// Textos
$font-family-base           : 'Noto Sans', sans-serif;
$font-size-base             : 16px;


// Zindex
$z-months             : 1000;


// Container e Grid
$width-container-xxlg       : 1440px !default;
$width-container-xlg        : 1200px !default;
$width-container-lg         : 1070px !default;
$width-container-md         : 980px !default;
$width-container-sm         : 658px !default;
$width-container-xs         : 320px !default;

$padding-base               : 10px !default;
$padding-base-horizontal    : $padding-base !default;
$padding-base-vertical      : $padding-base !default;


// Media queries
$screen-xs                  : 360px !default;
$screen-sm                  : 480px !default;
$screen-md                  : 768px !default;
$screen-lg                  : 1200px !default;
$screen-xlg                 : 1400px !default;
$screen-xxlg                : 1900px !default;

$screen-xs-max              : ($screen-sm - 1) !default;
$screen-sm-max              : ($screen-md - 1) !default;
$screen-md-max              : ($screen-lg - 1) !default;
$screen-lg-max              : ($screen-xlg - 1) !default;
$screen-xlg-max             : ($screen-xxlg - 1) !default;

$screen-xs-min              : $screen-xs !default;
$screen-sm-min              : $screen-sm !default;
$screen-md-min              : $screen-md !default;
$screen-lg-min              : $screen-lg !default;
$screen-xlg-min             : $screen-xlg !default;
$screen-xxlg-min            : $screen-xxlg !default;

$breakpoint-max             : $screen-xs-max !default;
$breakpoint-min             : $screen-sm-min !default;
